body{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-display: black;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
form{
    background-color: rgb(255, 231, 16);
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    font-display: black
}
@font-face {
    font-family: metropolis;
    src: url('Metropolis-Black.otf');
    }
    p {
        font-family: metropolis;
        font-size: 20px;
        font-display: red;
    }
    form h1{
        text-align: center;
        font-size: 25px;
        font-display: rgb(224, 22, 22);
        font-family: metropolis;
    }
    form p{
        text-align: center;
        margin: 20px 0;
    }
    .inupt-single{
        position: relative;
        margin: 30px 0;
    }
    .inupt-single label{
        position: absolute;
        left: 0;
        bottom: 5px;
        transition: all 0.2s;
        cursor: text;
    }
    input{
        width: 100%;
        border: 0;
        border-bottom: 2px solid #cccc;
        padding: 5px;
        font-size: 17px;
        outline: 0;
    }
    form.inupt-single .input:focus ~ label,
        form.inupt-single .input:valid ~ label{
        transform: translateY(-24px);
        font-size: 12px;
        color: rgb(224, 22, 22);
    }
    .btn{
        width: 100%;
        text-align: center;
    }
    form input[type=submit]{
        padding: 10px 40px;
        border: 0;
        border-radius: 10px;
        background-color: yellow;
        color: red;
        cursor: pointer;
    }